<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="flex flex-col justify-center  items-center max-w-md w-full p-6 bg-white rounded-md shadow-md">
      <h2 class="text-4xl font-semibold mb-6">Login</h2>
  
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="w-full">
        <mat-form-field class="w-full">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
          </mat-form-field>
  
        <mat-form-field class="w-full">
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
        </mat-form-field>
  
        <div *ngIf="errorMessage" class="text-red-600 text-sm mb-4">{{ errorMessage }}</div>
  
        <button type="submit" class="bg-blue-500 text-white rounded-full py-2 px-4 w-full hover:bg-blue-600">
          Login
        </button>
      </form>
  
      <div class="mt-4">
        <a href="#" class="text-blue-500">Forgot Password?</a>
      </div>
  
      <div class="mt-4">
        <a href="/signup" class="text-blue-500">Sign Up</a>
      </div>
    </div>
  </div>
  